body {
    margin: 60px auto;
    width: 70%;
}
.header {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: square;
    font-weight: bold;
    display: inline-block
}
.background {
    background-image: url(https://prettygirlssweat.com/sites/default/files/styles/0x650/public/field/image/TD_CollegePartySafety_1.jpg);
    background-size:cover;
}
ul#menu li {
    padding:0;
}
ul#menu li a {
    background-color:yellow
    color: black
    padding: 10px 20px
    text-decoration:none;
    border-radius:4px 4px 0 0;
}
ul#menu li a:hover {
    background-color:white
}
